<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API consumption Movie database</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/script/script.js" type="module"></script>
</head>
<body>
    <header>
        <h1>The Movie Database</h1>
    </header>
    <nav>
        <ul>
            <li><button id="now_playing">Now Playing</button></li>
            <li><button id="popular">Popular</button></li>
            <li><button id="top_rated">Top Rated</button></li>
            <li><button id="upcoming">Upcoming</button></li>
        </ul>
    </nav>
    <main>
        <p>Loading movies...</p>
    </main>
    
</body>
</html>